form {
    border: 1px solid black;
    background-image: url(sushi.jpg), url(sushi.jpg), ;
    background-size:auto;
    background-repeat: none;
}
input[type="submit"]{
    background-color: blueviolet;
}
#reset {
    background-color: rgb(21, 255, 0);
}