form {
    border: 1px solid black;
    background-image: url(sushi3.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}
input[type="submit"]{
    background-color: blueviolet;
}
#reset {
    background-color: rgb(21, 255, 0);
}